<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaoComics3"
        tools:targetApi="31">
        <activity
            android:name=".ui.login_register.ForgotPassWordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.genre.GenreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.comic_read.ReadComicActivity"
            android:exported="true" />
        <activity
            android:name=".ui.comic.ComicDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.DaoComics3" />
        <activity
            android:name=".ui.login_register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.DaoComics2" />
        <activity
            android:name=".ui.login_register.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DaoComics2" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.DaoComics2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>